@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
}
/*
a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  outline: 1px solid red;
}
*/
.visually-hidden {
  position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
  position: relative;
  z-index: 1;
  display: block;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000000;
  cursor: pointer;
}

.btn::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: height 0.3s;
}

.btn:hover::before {
  height: 40px;
  transition: 0.3s;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

body {
  min-width: 1200px;
  margin: 40px 0 0;
  padding: 0;
  letter-spacing: 0.01em;

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

.container {
  width: 1160px;
  margin: 0 auto;
  outline: 1px solid black;
}

/**********HEADER**********/
.main-header {
  position: relative;
  box-sizing: border-box;
  padding: 33px 60px 0 60px;
  min-height: 300px;
  background-color: #f7e296;
}

/***********TOP-STRIP***********/
.header-logotype {
  position: absolute;
  top: -25px;
  left: 58px;

  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.top-strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  outline: 1px solid black;
}

.search-form {
  display: flex;
}

.search-field {
  width: 355px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 39px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;

  background-image: url(../img/svg/search.svg);
  background-repeat: no-repeat;
  background-position: 3px 16px;
  background-color: #f7e296;

  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.search-btn {
  display: none;
  width: 85px;
  box-sizing: border-box;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;

  background-color: #f7e296;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
}

.search-btn:hover {
  color: white;
  background-color: black;
}

.search-btn:active {
  color: #747474;
}

.search-field:focus + .search-btn {
  display: inline-block;
}

.search-btn:active {
	display: inline-block;
	color: rgba(255, 255, 255, 0.3);
}

/****TOP-NAV-LIST****/
.top-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid black;
}

.top-strip-list-item a{
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000000;
}

.signin {
  width: 260px;
  outline: 1px solid green;
  margin-right: -10px;
}

.sign-in-btn {
  position: relative;
  padding-left: 26px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  outline: 1px solid red;
}

.sign-in-btn::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";

  width: 13px;
  height: 12px;
  background-image: url(../img/svg/user-header.svg);
}

.sign-out-btn {
  position: relative;
  margin-left: 17px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  outline: 1px solid red;
  opacity: 0.3;
}

.compare-btn {
  position: relative;
  padding-left: 20px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  outline: 1px solid red;
}

.compare-btn::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";

  width: 10px;
  height: 10px;
  background-image: url(../img/svg/compare-header.svg);
}

.shopping-btn {
  position: relative;
  padding-left: 25px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  outline: 1px solid red;
}

.shopping-btn::before {
  position: absolute;
  top: 5px;
  left: 3px;
  content: "";

  width: 12px;
  height: 12px;
  background-image: url(../img/svg/cart-header.svg);
}

.search-field::placeholder {
  color: black;
  opacity: 0.3;
}

.search-field:hover::placeholder {
  opacity: 0.6;
}

.search-field:focus {
  border-bottom: 2px solid black;
  outline: none;
}

.search-field:focus::placeholder {
  opacity: 1;
}

.header-logotype:hover,
.sign-in-btn:hover,
.compare-btn:hover,
.shopping-btn:hover {
  opacity: 0.6;
}

.header-logotype:active,
.sign-in-btn:active,
.compare-btn:active,
.shopping-btn:active {
  opacity: 0.3;
}

/****BOTTOM-NAV-LIST****/
.bottom-strip {
  box-sizing: border-box;
  outline: 1px solid black;
}

.bottom-nav-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.bottom-nav-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: 1px solid red;
}

.nav-list-item:first-child {
  width: 300px;
  margin-right: 240px;
  outline: 2px solid green;
}

.nav-list-item:nth-child(2) {
  width: 160px;
  outline: 2px solid green;
}

.nav-list-item:nth-child(3) {
  width: 120px;
  margin-right: 100px;
  outline: 2px solid green;
}

.nav-list-item:nth-child(4) {
  width: 120px;
  text-align: right;
  outline: 2px solid green;
}

.bottom-catalogue-btn {
  position: relative;
  padding-right: 25px;
  outline: 1px solid black;
}

.bottom-catalogue-btn::before {
  position: absolute;
  top: 3px;
  right: 0;
  content: "";

  width: 16px;
  height: 16px;
  background-image: url(../img/svg/plus.svg);
}

.bottom-nav-btn:hover {
  opacity: 0.6;
}

.bottom-nav-btn:active {
  opacity: 0.3;
}

/****DROPDOWN MENU****/
.catalogue-dropdown-menu {
  position: absolute;
  left: 0px;
  padding: 23px 500px 33px 60px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  display: none;


  width: 600px;



  background-color: #f7e296;
  list-style: none;
  outline: 1px solid black;
  z-index: 10;
}

.bottom-nav-list > .nav-list-item:hover .catalogue-dropdown-menu {
  display: flex;
}

.menu-category {

  width: 200px;
  margin: 0 auto 0 0;
  outline: 1px solid black;
  float: left;
}

.menu-category:nth-child(2){

  width: 160px;
  margin: 0 auto 0 auto;
  outline: 1px solid black;
  float: left;
}

.menu-category:nth-child(3){

  width: 160px;
  margin: 0 0 0 auto;
  outline: 1px solid black;
  float: left;
}

.menu-category-link {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
  text-decoration: none;
  outline: 1px solid red;
}

.menu-category-link:hover {
  opacity: 0.6;
}

.menu-category-link:active{
  opacity: 0.3;
}
/**********MAIN**********/
/**********SLIDER**********/
.slider {
  position: relative;
  z-index: 1;

  height: 480px;
  outline: 1px solid black;
}

.slide {
  position: absolute;
  top: -112px;

  display: none;
  width: 100%;
  height: 495px;
  box-sizing: border-box;
  padding-left: 600px;
  padding-right: 60px;
  outline: 1px solid red;
}

.slide-title {
  position: relative;
  z-index: 1;
  width: 500px;

  margin-top: 80px;
  margin-bottom: 20px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.4px;
  font-weight: 800;
  outline: 1px solid green;
}

.slide-title::before {
  position: absolute;
  top: -43px;
  left: 0;
  content: "";

  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slide p {


  font-size: 15px;
  line-height: 30px;
  outline: 1px solid green;
}

.slide-btn {
  margin-top: 50px;
  width: 220px;
  margin-bottom: 58px;
  outline: 1px solid green;
}

.slide:nth-child(1) {
  background-image: url("../img/index/slider-1.png");
  background-repeat: no-repeat;
  background-size: 384px 486px;
  background-position: 90px 0;
  outline: 2px solid black;
}

.slide:nth-child(2) {
  background-image: url("../img/index/slider-2.png");
  background-repeat: no-repeat;
  background-size: 345px 485px;
  background-position: 115px 12px;
  outline: 2px solid black;
}

.slide:nth-child(3) {
  background-image: url("../img/index/slider-3.png");
  background-repeat: no-repeat;
  background-size: 526px 334px;
  background-position: 30px 65px;
  outline: 2px solid black;
}

.slide .slide-title::after {
  position: absolute;
  top: -94px;
  right: -12px;
  z-index: -1;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  font-weight: 800;
  color: white;
  outline: 1px solid green;
}

.slide:nth-child(1) .slide-title::after {
  content: "01";
}
.slide:nth-child(2) .slide-title::after {
  content: "02";
}
.slide:nth-child(3) .slide-title::after {
  content: "03";
}

.slider-controls {
  position: absolute;
  top: 215px;
  right: 82px;
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  outline: 1px solid green;
}

.slider-controls label {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  background-image: url("../img/svg/slider-button-empty.svg");
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  margin-left: 21px;

  background-repeat: no-repeat;

  background-color: white;

  cursor: pointer;
  outline: 1px solid black;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid red;
}

.details li {
  position: relative;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  outline: 1px solid black;
}

.details li:nth-child(2) {
  width: 140px;
}

.details b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  outline: 1px solid green;
}

.details p {
  margin-top: 5px;
  margin-bottom: 50px;
  font-size: 13px;
  line-height: 20px;

  font-weight: 300;
  outline: 1px solid green;
}

.slide-1:checked ~ .slider-controls label[for="slide-1"],
.slide-2:checked ~ .slider-controls label[for="slide-2"],
.slide-3:checked ~ .slider-controls label[for="slide-3"] {
  background-image: url("../img/svg/slider-button.svg");
}

.slide-1:checked ~ .slides .slide:nth-child(1),
.slide-2:checked ~ .slides .slide:nth-child(2),
.slide-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

/**********CATEGORIES**********/
.categories {
  margin-bottom: 182px;

  outline: 1px solid black;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  outline: 1px solid red;
}

.categories-link {
  position: relative;
  display: inline-block;
  width: 160px;
  padding-top: 192px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  outline: 1px solid green;
}

.categories-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";

  width: 160px;
  height: 160px;

  background-color: #f7e296;
  outline: 2px solid black;
}

.categories-link::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";

  width: 160px;
  height: 160px;

  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.categories-item:nth-child(1) .categories-link::after {
  background-image: url("../img/svg/popular-1.svg");
}

.categories-item:nth-child(2) .categories-link::after {
  background-image: url("../img/svg/popular-2.svg");
  background-position: 50% 100%;
}

.categories-item:nth-child(3) .categories-link::after {
  background-image: url("../img/svg/popular-3.svg");
}

.categories-item:nth-child(4) .categories-link::after {
  background-image: url("../img/svg/popular-4.svg");
}

.categories-item:nth-child(5) .categories-link::after {
  background-image: url("../img/svg/popular-5.svg");
}

.categories-item:nth-child(6) .categories-link::after {
  background-image: url("../img/svg/popular-6.svg");
}

.categories-link:hover::after {
  background-color: #f0c52e;
}

.categories-link:active::after {
  opacity: 0.3;
}



/*SERVICES*/
.services {
  height: 288px;
  background-color: #e5e5e5;
  outline: 1px solid black;
}

.services-container {
  position: relative;
}

.services-layout {
  display: flex;
  justify-content: space-between;
  position: absolute;

	min-height: 190px;
	top: -40px;
	width: 100%;
  outline: 1px solid green;
}

.services-controls {
	position: relative;
	width: 280px;
}

.services-controls::after {
	background-color: #000000;
	content: "";
	height: 320px;
	position: absolute;
	right: -4px;
	top: -60px;
	width: 7px;
}


.services-controls label {
  position: relative;
  z-index: 1;

  display: block;
  width: 160px;
  margin-top: 22px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  line-height: 40px;
  color: black;
  outline: 1px solid green;
}

.services-controls label::before
{
	background-color: #f0c52e;
	content: "";
	height: 8px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: height .3s;
	width: 100%;
	z-index: -1;
}

.services-controls label:hover::before {
  height: 40px;
  transition: 0.3s;
}

.service-1:checked ~ .services-controls label:nth-child(1),
.service-2:checked ~ .services-controls label:nth-child(2),
.service-3:checked ~ .services-controls label:nth-child(3) {
  color: #f7e184;
}

.service-1:checked ~ .services-controls label:nth-child(1)::before,
.service-2:checked ~ .services-controls label:nth-child(2)::before,
.service-3:checked ~ .services-controls label:nth-child(3)::before {
  width: 280px;
  height: 40px;
  background-color: black;
  transition: 0.3s;
}



.service {
  display: none;
  width: 760px;
}

.service h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 47px;
  line-height: 48px;

  margin-bottom: 27px;
	margin-top: 13px;
  padding-right: 300px;
  letter-spacing: 0.01em;
  outline: 1px solid green;
}

.service p {
  font-weight: 300;
  color: #464646;
  font-size: 15px;
  line-height: 30px;
  padding-right: 300px;
  outline: 1px solid green;
}

.services-delivery {
  background-image: url("../img/svg/delivery.svg");
  background-repeat: no-repeat;
  background-position: top 25px right 65px;
  outline: 1px solid black;
}

.services-warranty {
  background-image: url("../img/svg/warranty.svg");
  background-repeat: no-repeat;
  background-position: top right 45px;
  outline: 1px solid black;
}

.services-credit {
  background-image: url("../img/svg/credit.svg");
  background-repeat: no-repeat;
  background-position: top right 70px;
  outline: 1px solid black;
}

#service-1:checked ~ .services-delivery,
#service-2:checked ~ .services-warranty,
#service-3:checked ~ .services-credit {
  display: block;
}

/*BRAND*/
.brand-logos {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
  margin-bottom: 89px;
  outline: 1px solid black;
}

.brand-logos img {
  width: 260px;
  height: 100px;
  outline: 1px solid green;
}

.brand-logos img:last-child {
  display: none;
}

.brand-logos a:hover img:first-child {
  display: none;
}

.brand-logos a:hover img:last-child {
  display: block;
}


/*ABOUT-CONTENT*/
.about-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;
  outline: 1px solid black;
}

.about,
.contacts {
  position: relative;
  display: flex;
  flex-direction: column;


	min-height: 565px;
	width: 560px;
  outline: 1px solid green;
}

.about::before,
.contacts::before {
	background-color: #000000;
	content: "";
	height: 7px;
	left: 0;
	position: absolute;
	top: 0;
	width: 80px;
}

.about h2,
.contacts h2 {
	font-family: "Gilroy", Arial,sans-serif;
	font-size: 47px;
  line-height: 48px;
	font-weight: 800;
	margin-bottom: 30px;
	margin-top: 51px;
  outline: 1px solid green;
}

.about p,
.contacts p {
	color: #464646;
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 15px;
  margin-right: 50px;
  outline: 1px solid green;
}

.about-list {
  box-sizing: border-box;
	list-style: none;
  margin-top: 50px;
  padding: 0;
  outline: 1px solid green;
}

.about-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  padding-left: 35px;

}

.about-list li::before { /* не работает */
  position: absolute;
  content: "";

  left: 0;
  top: 15px;
  width: 4px;
  height: 4px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.map {
  margin-top: 25px;
	cursor: pointer;
	height: 222px;
	width: 560px;
}

.about-btn,
.contacts-btn {
	bottom: 0;
	left: 0;
	width: 260px;
  margin-top: auto;
}



/*************FOOTER**************/
.main-footer {
	background-color: #464646;
	padding-top: 50px;
}
/*************FOOTER-TOP**************/
.footer-top {
	display: flex;
	justify-content: space-between;
  height: 68px;
  margin-bottom: 15px;
  outline: 1px solid white;
}

.footer-logotype {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffc600;

  outline: 1px solid white;
}

.footer-top-nav-list {
	align-items: center;
	display: flex;
	height: 55px;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 480px;
  outline: 1px solid white;
}

.footer-top-nav-list-item {
  margin-left: 40px;
  position: relative;
}

.footer-signin {
  width: 180px;
  outline: 1px solid white;
}


.footer-login-btn {
	color: #ffffff;
	display: inline-block;
	font-size: 15px;
	line-height: 30px;

	padding-left: 28px;
	text-decoration: none;
  outline: 1px solid white;
}

.footer-basket-btn {
	color: #ffffff;
	display: inline-block;
	font-size: 15px;
	line-height: 30px;

	padding-left: 21px;
	text-decoration: none;
  outline: 1px solid white;
}

.footer-compare-btn {
	color: #ffffff;
	display: inline-block;
	font-size: 15px;
	line-height: 30px;

	padding-left: 21px;
	text-decoration: none;
  outline: 1px solid white;
}

.footer-sign-out-btn {
  color: #ffffff;
	display: inline-block;
	font-size: 15px;
  text-align: center;

	line-height: 30px;
  margin-left: -30px;
	text-decoration: none;
  outline: 1px solid white;
  opacity: 0.3;
}


.footer-login-btn::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";

  width: 13px;
  height: 12px;
  background-image: url(../img/svg/user.svg);
  background-repeat: no-repeat;
}

.footer-compare-btn::before {
  position: absolute;
  top: 12px;
  left: 0;
  content: "";

  width: 10px;
  height: 10px;
  background-image: url(../img/svg/compare.svg);
  background-repeat: no-repeat;
}

.footer-basket-btn::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";

  width: 14px;
  height: 12px;
  background-image: url(../img/svg/cart.svg);
  background-repeat: no-repeat;
}

/*************FOOTER-MIDDLE**************/
.footer-mid-nav {
  display: flex;
  align-items: center;

  margin-bottom: 60px;
  outline: 1px solid white;

  color: #ffffff;
	font-size: 15px;
	line-height: 30px;
  font-weight: 300;
}

.footer-address {
  width: 260px;
  margin: 0;
  margin-right: auto;
}

.footer-phone {
  width: 260px;
  margin: 0;
  margin-left: auto;
  text-align: right;
}

.footer-mid-nav-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 440px;

}

.footer-mid-nav-list-item {
  padding-right: 36px;
}

.footer-mid-nav-list-item:last-child {
  padding-right: 0px;
}

.footer-mid-nav p {
  outline: 1px solid white;
}

.footer-mid-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
  outline: 1px solid white;
}

.footer-mid-nav-btn {
	color: #ffffff;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 30px;
	text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: 1px solid white;
}


/*************FOOTER-MIDDLE**************/
.footer-bot {
	padding-bottom: 65px;
	position: relative;
  outline: 1px solid white;
}

.footer-bot::before {
	background-color: #ffc600;
	content: "";
	height: 7px;
	left: 0;
	position: absolute;
	top: 16px;
	width: 80px;
}

.footer-bot-social {
	display: flex;
	justify-content: center;
  outline: 1px solid white;
}

.footer-bot-social-btn {
	font-size: 0;
	height: 38px;
	margin-left: 11px;
	margin-right: 11px;
	opacity: 0.3;
	width: 39px;
  outline: 1px solid white;
}

.footer-bot-social-btn-facebook {
  width: 32px;
  height: 32px;
  background-image: url(../img/svg/fb.svg);
  background-repeat: no-repeat;
}

.footer-bot-social-btn-instagram {
  width: 32px;
  height: 32px;
  background-image: url(../img/svg/instagram.svg);
  background-repeat: no-repeat;
}

.footer-bot-social-btn-twitter {
  width: 32px;
  height: 32px;
  background-image: url(../img/svg/twitter.svg);
  background-repeat: no-repeat;
}

.footer-copyright-logo {
	background-image: url(../img/svg/logo-htmlacademy.svg);
	background-repeat: no-repeat;
	font-size: 0;
	height: 34px;
  width: 27px;
	position: absolute;
	right: 0;
	top: 0;
}


/*MODAL-CONTENT*/

.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  width: 960px;
  height: 555px;
  box-sizing: border-box;
  padding-top: 95px;
  padding-left: 100px;
  padding-bottom: 80px;
  padding-right: 100px;

  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
}

.forms label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-decoration: none;
}

.submit-form {
  border: none;
  background-color: transparent;
}

.feedback-form-layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.modal-content input[type="text"] {
  width: 360px;
  box-sizing: border-box;
  margin: 0;
  padding: 16px; 20px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  border: none;
  background-color: #f3f3f3;
}

.modal-content textarea {
  width: 760px;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  padding: 16px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  border: none;
  background-color: #f3f3f3;
}

.modal-content-submit {
  width: 200px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}

.modal-content-close {
  position: absolute;
  right: 22px;
  top: 22px;

  font-size: 0;

  width: 55px;
  height: 55px;
  background-color: transparent;
  background-image: url(../img/svg/modal-close.svg);
  background-repeat: no-repeat;
  border: none;


  opacity: 0.5;
  cursor: pointer;
}

/*MODAL-MAP*/
.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
}

.modal-content-close {
  position: absolute;
  right: 22px;
  top: 22px;

  font-size: 0;

  width: 55px;
  height: 55px;
  background-color: transparent;
  background-image: url(../img/svg/modal-close.svg);
  background-repeat: no-repeat;
  border: none;


  opacity: 0.5;
  cursor: pointer;
}




/******MAIN CATOLOG*******/
/******PAGE-HEADER******/
.page-header {
  display: flex;
  justify-content: center;
	flex-direction: column;

	width: 500px;
	margin: 0;
	padding: 0;
	margin-left: 60px;
	margin-top: 38px;
  margin-bottom: 40px;

  outline: 1px solid black;
}

.page-header h1 {
	margin: 0;
	margin-bottom: 25px;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
  font-weight: 800;
  outline: 2px solid green;
}

.breadcrumbs-list {
  display: flex;

	margin: 0;
	padding: 0;

	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);

	list-style: none;
  text-decoration: none;
  outline: 1px solid red;
}


.breadcrumbs-list-item {
  position: relative;

  margin-right: 38px;
}

.breadcrumbs-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-list-item:last-child .breadcrumbs-link:hover {
  color: #cacaca;
}

.breadcrumbs-list-item::before {
  position: absolute;
  content: "";

  background-image: url(../img/svg/cart.svg);
  background-repeat: no-repeat;

  background-color: black;
}


/******CONTANT******/
.contant {
  display: flex;
  outline: 1px solid black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: calc(50% - 250px);
  outline: 1px solid black;
}

.sidebar-layout {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  outline: 1px solid black;
}

.sidebar-title-layout {
  background-color: rgba(0, 0, 0, 0.08);
}

.sidebar-filter-layout {
  flex-grow: 1;

  background-color: #eeeeee;
}

.sidebar-title {
  width: 250px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 18px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
  outline: 1px solid black;
}





.filter-form {
  position: relative;
  width: 200px;
  padding-top: 60px;
  padding-right: 70px;
}

.filter-form fieldset {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  border: none;

  outline: 1px solid red;
}

.filter-form legend {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  outline: 1px solid red;
  width: 100%;
}

.filter-form legend::before {
  position: absolute;
  content: "";
  top: -16px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: black;
}
/*****RANGE-CONTROLS******/
.range-controls {
  position: relative;

  margin-bottom: 12px;
  outline: 1px solid green;
}

.scale {
  position: relative;
  width: 200px;
  height: 2px;

  background-color: #dbdbdb;
}

.bar {
  position: relative;
  width: 120px;
  height: 2px;

  background-color: #91c92f;
}

.toggle {
  position: absolute;
  top: -10px;
  left: 0;

  width: 20px;
  height: 22px;
  background-image: url(../img/svg/filter-button.svg);
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: 1px solid green;
}

.max-toggle {
  left: 120px;
}

.min-price {
  border: none;
  background-color: #eeeeee;
  width: 50px;
  margin-right: 20px;
  color: black;
  outline: 1px solid green;
  opacity: 0.3;
}

.max-price {
  border: none;
  background-color: #eeeeee;
  width: 50px;
  outline: 1px solid green;
  color: black;
  opacity: 0.3;
}

.price-controls span {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: black;
  opacity: 0.3;
}


.filter-btn {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}


.price-controls input {
  font-weight: 300;
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filter-form ul{
  list-style: none;
}

.sorting-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
}




/******CATALOGUE******/
.catalogue {
  width: calc(50% + 250px);

  outline: 1px solid green;
}

.catalogue-layout {
  background-color: rgba(0, 0, 0, 0.08);
}

.catalogue-sorting {
  display: flex;
  width: 830px;

  outline: 1px solid green;
}

.sorting-title {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 70px;
  margin-right: 55px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
  outline: 1px solid green;
}

.sorting-options {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  outline: 1px solid green;
}

.sorting-options a {
  margin-right: 30px;

  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #bababa;
  text-decoration: none;
  outline: 1px solid green;
}

.sorting-order {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
  outline: 1px solid green;
}

/******CATALOGUE-ITEMS******/

.catalogue-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 770px;
  margin-bottom: 40px;
  padding-top: 70px;
  padding-left: 60px;
  outline: 1px solid black;
}

.catalogue-item {
  position: relative;
  width: 360px;
  outline: 1px solid black;
}

.catalogue-item img {
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 35px;
  outline: 1px solid red;
}

.catalogue-item-actions {
  position: absolute;
  top: 155px;
  left: 80px;
  z-index: 1;

  display: none;
  width: 200px;
  min-height: 70px;
  outline: 1px solid green;
}

.catalogue-item-actions::before {
  position: absolute;
  content: "";
  top: -155px;
  left: -80px;
  z-index: -1;

  display: block;
  width: 360px;
  height: 380px;

  background-color: #efefef;
  opacity: 0.7;
}

.catalogue-item:hover + .catalogue-item-actions,
.catalogue-item-actions:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item-actions-btn {
  width: 100%;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  outline: 1px solid black;
}

.item-actions-link {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  text-decoration: none;
  color: #a3a3a3;
}

.item-actions-link:hover {
  color: black;
}

.item-actions-link:active {
  color: #dddddd;
}

.catalogue-item-layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalogue-sorting ul {
  list-style: none;
}

.catalogue-sorting a {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.item-actions-btn {
  border: none;
  background-color: transparent;
}

.item-actions-link {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
  border: none;
  background-color: transparent;
}

.catalogue-item-title {
  max-width: 260px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.catalogue-item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.buttons-catalogue a{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.buttons-catalogue {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 760px;
  min-height: 70px;
  margin-left: 60px;
  margin-bottom: 75px;

  background-color: #ebebeb;
}

.paginator a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.button-back,
.button-next {
  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 26px;
  padding-left: 30px;

  color: black;
}

.button-back:hover,
.button-next:hover {
  background-color: #d9d9d9;
}

.button-back:active,
.button-next:active {
  color: #979797;
  background-color: #d9d9d9;
}

.button-mid {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalogue-link {
  color: #a4a4a4;
}

.catalogue-link:hover {
  color: #666666;
}

.catalogue-link:active {
  color: black;
}

.catalogue-buttom-item .active {
  color: black;
}
